---
// src/pages/blog/index.astro
import { getCollection } from "astro:content";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");
allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const postsPerPage = 6;
const initialPosts = allPosts.slice(0, postsPerPage);
const pageTitle = "Blog";
---

<BaseLayout title={pageTitle}>
  <ul
    id="post-list"
    class="list-none p-0 m-0 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
    data-posts-per-page={postsPerPage}
  >
    {
      initialPosts.map((post) => (
        <li>
          <BlogPostPreview post={post} />
        </li>
      ))
    }
  </ul>
  <div id="load-more-trigger" class="h-20"></div>
</BaseLayout>

<script src="../../scripts/blog-infinite-scroll.ts"></script>
