/* src/styles/global.css */

/* body 요소에 기본 폰트와 배경색을 적용합니다. */
body {
  /* 기본은 라이트 모드 색상, dark: 다음에는 다크 모드 색상을 적용합니다. */
  @apply font-sans bg-background text-primary text-[18px] dark:bg-dark-background dark:text-dark-primary;
}

/* 링크(a 태그)의 기본 스타일을 정의합니다. */
a {
  @apply text-accent no-underline;
}

a:hover {
  @apply underline;
}

/* 제목(h1, h2, h3)의 스타일을 정의합니다. */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif leading-tight;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

p {
  @apply leading-relaxed mb-[1.2em];
  /* line-height: 1.6; 와 유사 */
}

/* 코드 블록과 인라인 코드에 폰트 적용 */
code,
pre {
  @apply font-mono;
}

code {
  @apply bg-elementHoverBg py-1 px-2 rounded;
}


/* 모든 코드 블록의 기본 스타일 */
pre.astro-code {
  @apply p-4 overflow-x-auto rounded-lg;
  box-sizing: border-box;
}

/* 
  .prose 환경의 모든 요소에 대해
  단어 단위 줄바꿈 규칙을 적용합니다.
*/
.prose {
  word-break: keep-all;
  overflow-wrap: break-word; /* 긴 영어 단어나 URL이 레이아웃을 깨는 것을 방지 */
}