---
// src/pages/about.astro
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "About Me";
const pageDescription =
  "Learn more about ZeroDi, an indie developer's journey, philosophy, and skills.";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <article class="prose prose-lg max-w-none">
    <h2>Mission</h2>
    <p>
      To create software that is easy to use even for those unfamiliar with
      technology, eliminating the digital divide and providing enjoyable
      experiences for all.
    </p>

    <h2>Vision</h2>
    <p>
      To redefine the standard of user experience as 'seamlessness' and lead a
      future where this is taken for granted by everyone.
    </p>
  </article>
</BaseLayout>
