---
// src/pages/about.astro
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<BaseLayout title={pageTitle}>
  <h2>sfdsdfsdf</h2>
  <p>ss</p>
  <p>dd</p>
</BaseLayout>
