---
// src/pages/contact.astro
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact";
---

<BaseLayout title={pageTitle}>
  <h2>ddddddd</h2>
  <p>asdfasdf</p>
</BaseLayout>
