---
// 1. BaseLayout 컴포넌트를 가져옵니다.
import BaseLayout from "../layouts/BaseLayout.astro";

// 2. 이 페이지의 고유한 제목을 변수로 만듭니다. (선택 사항)
const pageTitle = "ZeroDi the Software Engineer";
---

<BaseLayout title={pageTitle}>
  <h1>Hello!</h1>
  <p>test page</p>
</BaseLayout>
