---
// src/pages/projects.astro
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Projects";
---

<BaseLayout title={pageTitle}>
  <h2>eeeeeee</h2>
  <p>asdfasdf</p>
  <p>sdfaasdfs</p>
</BaseLayout>
