---
// src/pages/projects.astro
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro"; // 1. ProjectCard 컴포넌트 가져오기
import BaseLayout from "../layouts/BaseLayout.astro";

const allProjects = await getCollection("projects");
const pageTitle = "Projects";
---

<BaseLayout title={pageTitle}>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8">
    {
      allProjects.map((project) => (
        <ProjectCard project={project} /> // 4. 컴포넌트 사용
      ))
    }
  </div>
</BaseLayout>
