---
// src/layouts/BaseLayout.astro
import { ClientRouter } from "astro:transitions";
import "@unocss/reset/tailwind.css";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"; // 상수를 가져옵니다.
import "../styles/global.css";

const {
  title = SITE_TITLE, // 기본값을 상수로 변경
  description = SITE_DESCRIPTION, // 기본값을 상수로 변경
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ClientRouter /><script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body>
    <div class="flex">
      <Header />
      <main class="grow p-8 max-w-65rem mx-auto">
        <slot />
      </main>
    </div>
    <script src="../scripts/theme-controller.ts"></script>
  </body>
</html>
