---
// src/layouts/BaseLayout.astro
import { ClientRouter } from "astro:transitions";
import "@unocss/reset/tailwind.css";
import Header from "../components/Header.astro";
// ✅ SITE_TITLE, SITE_DESCRIPTION 대신 SITE 객체를 통째로 가져옵니다.
import { SITE } from "../consts";
import "../styles/global.css";

const {
  // ✅ SITE.TITLE 과 SITE.DESCRIPTION 으로 값을 사용하도록 수정합니다.
  title = SITE.TITLE,
  description = SITE.DESCRIPTION,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ClientRouter />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body>
    <div class="flex">
      <Header />
      <main class="grow p-8 md:p-12 lg:p-16 max-w-65rem mx-auto">
        <slot />
      </main>
    </div>
    <script src="../scripts/theme-controller.ts"></script>
    <script src="../scripts/code-copy.ts"></script>
  </body>
</html>
