---
// src/layouts/BaseLayout.astro
import { ClientRouter } from "astro:transitions";
import "@unocss/reset/tailwind.css";
import Header from "../components/Header.astro";
import { SITE } from "../consts";
import "../styles/global.css";
import SEO from "../components/SEO.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE.TITLE, description = SITE.DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={title} description={description} />

    <ClientRouter />
  </head>
  <body>
    <div class="flex flex-col lg:flex-row">
      <Header />
      <main class="grow p-4 md:p-8 lg:p-16 max-w-full lg:max-w-65rem mx-auto">
        <slot />
      </main>
    </div>
    <script src="../scripts/theme-controller.ts"></script>
    <script src="../scripts/code-copy.ts"></script>
    <script src="../scripts/mobile-menu.ts"></script>
  </body>
</html>